*{
    margin: 0;
    padding: 0;
    border: 0;
}


body {
    background-image: linear-gradient(90deg,rgba(64, 119, 28, 0.801),rgba(18, 163, 54, 0.397) ) ;
   
}
header {
    background-color:rgb(41, 36, 36); 
    display: flex;
    flex-direction: column;
    align-items: center;/*comando de alinhamento de itens na horizontal*/
    justify-content: center;/* alinhamento verticalmente*/
    height: 250px ;

}

header img{
    width: 160px;
    border: 5px groove rgb(134, 125, 125);
    border-radius: 50px ;

}

header nav ul li:hover{
    background-color:rgb(226, 224, 233);
   text-transform: uppercase; /* aumentar tamanho da letra*/
   font-family: 'Times New Roman', Times, serif;
   display:inline;
  padding:25px;
}

header nav ul li {
    display:inline;
    
}

header nav{
    padding:10px ;
}

    .containerd {
        display: flex;
        font-family: 'Times New Roman', Times, serif;
       
    }

   main h1{
    text-align:center ; /* alinhamento de texto */
    text-transform: uppercase;
    padding: 35px ;
   } 

    .containerd img {
     margin: 0px  25px;
     width: 300px ;              /*largura*/
     height: 500px;             /*altura*/
     box-shadow: 10px -10px 10px rgb(8, 3, 2) ;

    }

    .paragrafod  p {
        font-size:23px;
        text-align: justify;
        padding:10px 10px 10px ;
    }

    




